<div class="container">
	<div class="codex-article-header">
        <h1>Project Name: Codex</h1>
	    <div class="input-group col col-lg-6 col-sm-4 col-offset-3" id="codex-search">
	      <input type="text" placeholder="Search">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="icon icon-search icon-large"></i>&nbsp;</button>
	      </span>
	    </div>
</div>
  
</div>
<div class="container">
<div class="row">
	<div class="col col-lg-3">
		Categories:
		<ul class="nav">
			<li>Documentation <span class="badge pull-right">13</span></li>
			<li>Emerging Issues <span class="badge pull-right">5</span></li>
			<li>How to <span class="badge pull-right">7</span></li>
		</ul>
	</div>
	<div class="col col-lg-9">
		<p class="text-left">Found 25 articles in 3 Categories</p>
		
		<a href="/codex/article"><h4>Article 1 </a><small> <br />Article #: KB12345<br />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue odio, vestibulum eu consequat non, elementum a libero. Proin venenatis purus eget ligula tincidunt aliquet. Cras in interdum tortor</p></small>
		
		<a href="#"><h4>Article 2</a><small><br /> Article #: KB45678<br />
		<p>Donec ut mi at sem egestas condimentum vel vitae nunc. Ut pharetra porta gravida. Etiam consequat nisl nec mi imperdiet vehicula. Proin placerat, erat a volutpat accumsan, enim libero dictum lorem, hendrerit laoreet nisl ipsum in lacus.</p></small>
		
		<a href="#"><h4>Article 3</a><small><br /> Article #:HT09822<br />
		<p>Proin placerat, erat a volutpat accumsan, enim libero dictum lorem, hendrerit laoreet nisl ipsum in lacus. Pellentesque in neque nec purus venenatis consectetur. Pellentesque nec justo purus, a dapibus sem.</p></small>
		
		<a href="#"><h4>Article 4</a><small><br /> Article #: DO12345<br />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue odio, vestibulum eu consequat non, elementum a libero. Proin venenatis purus eget ligula tincidunt aliquet. Cras in interdum tortor</p></small>
		
		<a href="#"><h4>Article 5</a><small><br /> Article #: EM45678<br />
		<p>Donec ut mi at sem egestas condimentum vel vitae nunc. Ut pharetra porta gravida. Etiam consequat nisl nec mi imperdiet vehicula. Proin placerat, erat a volutpat accumsan, enim libero dictum lorem, hendrerit laoreet nisl ipsum in lacus.</p></small>			
		<ul class="pagination pagination pull-left">
			<li><a href="#"><i class="icon icon-circle-arrow-left"></i></a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#"><i class="icon icon-circle-arrow-right"></i></a></li>
		</ul>
	</div>
</div>
</div>