<div class="row">
	<div class="page-header">
		<h1>User Profile</h1>
	</div>
</div>
<div class="row">
	<div class="col col-lg-2 col-offset-2">
		<i class="icon icon-user icon-4x" ></i><br />
		User Icon/Picture Here
	</div>
	<div class="col col-lg-6">
		<p>User Name Here </p>
		<p><small>Full Name Here</small></p>
		Groups:
		<ul>
			<li>Group 1</li>
			<li>Group 2</li>
			<li>Group 3</li>
		</ul>
		Articles Authored:
		<ul>
			<li><a href="/codex/article">Article 1: <small>BS12345</small></a></li>
			<li><a href="#">Article 2: <small>HT67890</small></a></li>
		</ul>
	</div>
</div>