<div class="row">
	<div class="page-header">
		<h1 class="text-center">Project Name Blog</h1>
	</div>
</div>
<div class="row">
	<div class="col col-lg-3 pull-right">
		Categories Here
	</div>
	<div class="col col-lg-9">
		<div class="blog-post">
			<h2>Post Name</h2><br />
			<%= image_tag("cookie.jpg", :alt => "Cookie Monster") %>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis elementum eros. Aenean tellus turpis, varius vel fringilla vitae, tempus non leo. Sed eu ligula urna, tempor varius lectus. Morbi posuere enim vel orci volutpat non posuere ipsum tincidunt. Aliquam ornare dignissim est a semper. In porttitor vehicula magna. Nunc eu arcu in risus blandit aliquet. Proin consectetur tristique tincidunt. Integer vestibulum mollis velit at tempus. Fusce feugiat dolor sit amet lacus consectetur posuere. Aliquam vestibulum odio vitae purus malesuada sollicitudin. Proin placerat dignissim nisi id aliquam. Donec lacinia, mauris nec varius pulvinar, erat nibh semper eros, in scelerisque enim eros id purus. Aliquam placerat erat nec lorem ultrices interdum et a libero. Vestibulum nec est vitae felis scelerisque volutpat sit amet a lectus.</p>

<p>Sed vitae arcu leo, et mattis tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eu risus eget lacus condimentum vehicula eu vel libero. Duis ac volutpat libero. Mauris blandit dui ut nisi malesuada cursus. Nunc nisl ligula, laoreet quis aliquet pharetra, vulputate vitae augue. Etiam nunc eros, tincidunt vel gravida a, sagittis ut risus. Pellentesque in auctor nisl. In accumsan viverra tellus, id rutrum risus bibendum suscipit. Phasellus non velit sit amet ligula varius tincidunt. Mauris rutrum dictum eros, vel porttitor quam pellentesque fermentum.</p>

<p>Donec sit amet lacinia ante. Donec eget tellus sed nisl suscipit porta sit amet quis massa. Aliquam vehicula elementum convallis. Vestibulum eleifend dapibus posuere. Nunc aliquet gravida lacus, a condimentum erat varius in. Vivamus placerat felis non libero volutpat faucibus. Mauris nec ipsum aliquet dui porttitor pretium. Fusce venenatis molestie varius. Vivamus euismod euismod dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin adipiscing tristique augue quis pellentesque. Cras vel quam in velit cursus dapibus eu sit amet arcu. Fusce vitae erat elit, sed iaculis nulla. Curabitur semper rutrum posuere. In hac habitasse platea dictumst.</p>
		</div>
		<div class="blog-post">
			<h2>Post Name 2</h2><br />
			<%= image_tag("laser_cat.jpg", :alt => "Laser Cat") %>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis elementum eros. Aenean tellus turpis, varius vel fringilla vitae, tempus non leo. Sed eu ligula urna, tempor varius lectus. Morbi posuere enim vel orci volutpat non posuere ipsum tincidunt. Aliquam ornare dignissim est a semper. In porttitor vehicula magna. Nunc eu arcu in risus blandit aliquet. Proin consectetur tristique tincidunt. Integer vestibulum mollis velit at tempus. Fusce feugiat dolor sit amet lacus consectetur posuere. Aliquam vestibulum odio vitae purus malesuada sollicitudin. Proin placerat dignissim nisi id aliquam. Donec lacinia, mauris nec varius pulvinar, erat nibh semper eros, in scelerisque enim eros id purus. Aliquam placerat erat nec lorem ultrices interdum et a libero. Vestibulum nec est vitae felis scelerisque volutpat sit amet a lectus.</p>

<p>Sed vitae arcu leo, et mattis tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eu risus eget lacus condimentum vehicula eu vel libero. Duis ac volutpat libero. Mauris blandit dui ut nisi malesuada cursus. Nunc nisl ligula, laoreet quis aliquet pharetra, vulputate vitae augue. Etiam nunc eros, tincidunt vel gravida a, sagittis ut risus. Pellentesque in auctor nisl. In accumsan viverra tellus, id rutrum risus bibendum suscipit. Phasellus non velit sit amet ligula varius tincidunt. Mauris rutrum dictum eros, vel porttitor quam pellentesque fermentum.</p>

<p>Donec sit amet lacinia ante. Donec eget tellus sed nisl suscipit porta sit amet quis massa. Aliquam vehicula elementum convallis. Vestibulum eleifend dapibus posuere. Nunc aliquet gravida lacus, a condimentum erat varius in. Vivamus placerat felis non libero volutpat faucibus. Mauris nec ipsum aliquet dui porttitor pretium. Fusce venenatis molestie varius. Vivamus euismod euismod dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin adipiscing tristique augue quis pellentesque. Cras vel quam in velit cursus dapibus eu sit amet arcu. Fusce vitae erat elit, sed iaculis nulla. Curabitur semper rutrum posuere. In hac habitasse platea dictumst.</p>
		</div>
	</div>
</div>
<div class="row">
	<ul class="pagination pagination">
		<li><a href="#"><i class="icon icon-circle-arrow-left"></i></a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#"><i class="icon icon-circle-arrow-right"></i></a></li>
	</ul>
</div>