<% # <div class="row"> %>
<% # <div class="col col-lg-4 col-offset-4"> %>
<% # <div class="alert alert-success"> %>
<% # 	<a href="#" class="close">X</a>Flash[:notice] %>
<% # </div> %>
<% # <div class="alert"> %>
<% #	<a href="#" class="close">X</a>Flash[:alert] %>
<% # </div> %>
<% # <div class="alert alert-danger"> %>
<% #	<a href="#" class="close">X</a>Flash[:error] %>
<% # </div> %>
<% # </div> %>
<% # </div> %>
<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div class="<%= flash_class(level) %>">
      <a class="close" href="#"><i class="icon icon-remove"></i></a>
      <%= content_tag :p, flash[level] %>
    </div>
  <% end %>
<% end %>